@charset "UTF-8";

/* 
以下のCSSは「リセットCSS」といいます。
各ブラウザには最初から一部CSSの値が設定されており、それをリセットして見栄えを統一するために使われます。
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* リセットCSS おわり */


/* ------------------header -----------------*/
header {
  display: flex;
  height: 100px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 40px ;
  color: #fff;
}
header h1 { 
  width: 135px;
}
header nav {
  margin-left: 55px;
  
}
header ul {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.header_button{
  margin-left: auto;
}
/* ------------------main -----------------*/
