@charset "UTF-8";

/* 
以下のCSSは「リセットCSS」といいます。
各ブラウザには最初から一部CSSの値が設定されており、それをリセットして見栄えを統一するために使われます。
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* リセットCSS おわり */


/* ------------------header -----------------*/
header {
  display: flex;
  height: 100px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 40px;
  color: #fff;
}

header h1 {
  width: 135px;
}

header nav {
  margin-left: 55px;

}

header ul {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.HeaderButton {
  margin-left: auto;

}

.Button1 {
  background: rgb(120, 120, 30);
  padding: 15px 10px;

}

.Button2 {
  border: 1px solid #fff;
  padding: 15px 10px;
  margin-left: 15px;
}

/* ------------------main -----------------*/
/* .FirstView {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: -1;
}

.MainImage1 {
  width: 100%;
  height: 100vh;
  object-fit: cover;

}

.MainImage2 {
  margin: 269px 0 175px 150px;
} */

.FirstView {
  position: relative;
}

.MainImage2 {
  position: absolute;
  top: 50%;
  left: 150px;
  transform: translate(-50%, -50%);
}

.MainImage3 {
  background-image: url(../image/main_bg.jpg);
  width: 100%;
  min-height: 100vh;
  padding: 150px 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

.Comment1 {
  writing-mode: vertical-rl;
  letter-spacing: 0.3em;
  font-size: 48px;
  line-height: 1.8em;
  color: #fff;
}

.Comment2 {
  color: #fff;
  text-align: center;
  line-height: 3.0;
}

.NewsContainer {
  text-align: center;
  padding: 100px 0 169.09px 0;

}

.NewsContainer h2 {
  margin-bottom: 30px;
  line-height: 1.5;
}

.MainTitle {
  font-size: 36px;
  font-weight: bold;
  font-family: ;
}

.SubTitle {
  font-size: 16px;
  color: #555555;
  font-weight: normal;
  margin-top: 100px;
}

.NewsList {
  list-style: none;
  margin: 0 auto;
  width: 1000px;
  border-top: 1px solid #ccc;
  font-size: 14px;

}

.NewsList li {
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}

.NewsToggle {
  display: flex;
  align-items: center;
  padding: 20px 0 20px 0;
  width: 100%;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.NewsTei {
  border: 1px solid #78781E;
  padding: 10px 10px 5px 25px;
  background-color: #78781E;
  color: #FFFFFF;
  margin-right: 50px;
}

.NewsDate {
  margin-right: 50px;
  color: #888888;

}
.NewsTitle {
  color: #000;
}

.NewsMore {
  padding-left: 1020px;
  color: #888888;
  font-size: 14px;
}

.RecommendPlan {
    padding: 100px 0 169.09px 0;
    background-color: #E8E7E2;
    text-align: center;
}

.PlanImage {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.PlanImage1 {
  position: relative;
  width: 480px;
  background-color: rgb(255, 255, 255);
  text-align: left;
}

.PlanImage1 img {
  padding-bottom: 17px;
}

.HpText {
  color: #78781E;
  font-size: 16px;
}

.Reservation {
  margin: 0 auto;
  padding: 81px 0;
  text-align: center;
}

.ReservationText1 {
  text-decoration: underline;
}

.ReservationText3 {
  font-size: 10px;
  width: fit-content;
  margin: 0 auto;
  text-align: left;
}

.ContactReservationButtons {
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.ReservationButton1 {
  background-color: #78781E;
  width: 1280px;
  height: 124px;
  padding-top: 30px;
}

.ReservationButton1 span {
color: #FFFFFF;
  font-size: 28px;
}

.ReservationButton1 p {
  color: #FFFFFF;
  font-size: 10px;

}

.ReservationButton2 {
  background-color: #454545;
  width: 1280px;
  height: 124px;
  padding-top: 30px;

}

.ReservationButton2 span {
  color: #FFFFFF;
  font-size: 28px;
}

.ReservationButton2 p {
  color: #FFFFFF;
  font-size: 10px;

}

